body{
	font-size: 16px;
	color:#fff;
	background-color: #61122f;
	font-family: 'Oxygen' , sans-serif;
}
/** HEADER **/
#header-nav {
	background-color: orange;
	border-radius:0;
	border:0;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Oxygen' , sans-serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  margin-right: 100px;
  text-align: right;
}
#nav-list{
	margin-top: 10px;
}
#nav-list a:hover {
	background:#E7E7E7;
}
#nav-list a{
	color:#61122f;
	text-align: center;
}
#nav-list a span {
	font-size:1.4em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border:1.5px solid #61122f;
}
/**END OF HEADER**/
/**Jumbotron**/
#chicken{
	background-color: orange;
    padding:10px 10px 10px 10px;
	border:3px solid black;
	color:white;
	margin-bottom: 30px;
	font-family: Comic Sans MS,cursive, sans-serif;
}
#beef{
	background-color: orange;
    padding:10px 10px 10px 10px;
	border:3px solid black;
	color:white;
	margin-bottom: 30px;
	font-family:'Comic Sans MS',cursive, sans-serif;
}
#sushi{
	background-color: orange;
    padding:10px 10px 10px 10px;
	border:3px solid black;
	color:white;
	margin-bottom: 20px;
	font-family:'Comic Sans MS',cursive, sans-serif;
}
h3{
	color:#61122f;
	margin-bottom: 20px;
	margin-top:0px;
	font-family:'Comic Sans MS',cursive, sans-serif;
	padding-top:0px;
}
/**Large devices only**/
@media (min-width: 1200px) {
  #chicken {
  	width:90%;
  }
  #beef {
  	width:90%;
  }
  #sushi {
  	width:90%;
  }
}

/*****Medium devices only ******
@media (min-width: 992px) and (max-width: 1199px) {
	#chicken {
		width:100%;
    }
    #beef {
    	width:100%;
    } 
    #sushi {
    	width:100%;
    }
}/



